.ce_index {
    position: relative;
    padding: 18px 0;
}

.ce_index_wrap {
    position: relative;
    margin: 0 20px;
    border: 1px solid #e5eaf1;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #f6f8fb;
}

.ce_index_list {
    -webkit-border-radius: inherit;
    border-radius: inherit;
    margin: -1px 0 0 -1px;
}

.ce_index_list::after {
    content: '';
    display: table;
    table-layout: fixed;
    clear: both;
}

.ce_index_item {
    float: left;
    width: 33.3333%;
}

.ce_index_item:nth-child(3n + 1) {
    clear: both;
}

.ce_index_item .ce_index_a {
    display: block;
    padding: 14px 10px 15px;
    max-height: 99px;
    border: 1px solid #ecf1f6;
    border-width: 1px 0 0 1px;
    color: rgba(30, 30, 35, 0.7);
    letter-spacing: -0.3px;
    -webkit-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, -webkit-box-shadow;
    transition-property: background-color, box-shadow;
    transition-property: background-color, box-shadow, -webkit-box-shadow;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ce_index_item:nth-child(-n + 3) .ce_index_a {
    border-top-color: #e5eaf1;
}

.ce_index_item:nth-child(3n + 1) .ce_index_a {
    border-left-color: #e5eaf1;
}

.ce_index_item:nth-child(1) .ce_index_a {
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

@-webkit-keyframes animation_ce_index_selected {
    0% {
        background-color: #f6f8fb;
    }

    100% {
        background-color: #fff;
        color: #1e1e23;
        -webkit-box-shadow: 0 2px 5px 0 rgba(36, 81, 130, 0.15);
        box-shadow: 0 2px 5px 0 rgba(36, 81, 130, 0.15);
    }
}

@keyframes animation_ce_index_selected {
    0% {
        background-color: #f6f8fb;
    }

    100% {
        background-color: #fff;
        color: #1e1e23;
        -webkit-box-shadow: 0 2px 5px 0 rgba(36, 81, 130, 0.15);
        box-shadow: 0 2px 5px 0 rgba(36, 81, 130, 0.15);
    }
}

.ce_index_item .ce_index_a[aria-selected='true'] {
    position: relative;
    -webkit-animation: animation_ce_index_selected 0.7s
        cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    animation: animation_ce_index_selected 0.7s
        cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    z-index: 1;
}

.ce_index_item:nth-last-child(1) .ce_index_a {
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ce_index_item:nth-child(3) .ce_index_a {
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

.comp_economy .ce_index_item:nth-last-child(3) .ce_index_a {
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ce_index_item .ce_index_a[aria-selected='true']::before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 1px solid #e0e6ee;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}

.ce_index_item .ce_index_a .ce_tit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.2px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ce_index_item .ce_index_a .ce_price {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: -0.2px;
}

.ce_gap_rate {
    visibility: hidden;
    display: inline-block;
    min-width: 60px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #909aab;
    vertical-align: top;
    letter-spacing: -0.3px;
}

.ce_gap_rate.ce_dec {
    background-color: #4f67d6;
}
