.detail_box {
    position: relative;
    /* padding-bottom: 17px; */
}

.detail_box .line_graph {
    padding-top: 12px;
    border: 1px solid #f2f4f6;
    border-width: 1px 0;
    background-color: #f9fafc;
}

.chart_con {
    height: 254px;
    position: relative;
    padding: 0;
}

.chart_con .chart {
    padding: 0;
}

.scroll_wrapper {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    height: 254px;
}
