.ce_info {
    position: relative;
    margin: 0 20px;
    padding-bottom: 16px;
    text-align: center;
}

.ce_btn_more {
    color: #303038;
    border: 1px solid #e6e6ea;
    display: inline-block;
    max-width: 100%;
    padding: 0 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.5px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}

.ce_btn_more::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.48);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    vertical-align: top;
    margin: 15px 0 0 10px;
}

.ce_btn_more.fold::after {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    margin-top: 18px;
}

.ce_btn_more.ce_pagination {
    border: 1px solid #e4eaf0;
    background-color: #ffffff;
}

.ce_info .ce_btn_more + .ce_btn_more {
    margin-left: 6px;
}

.fold + .ce_btn_more::after,
.ce_btn_more.right::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 17px;
}
