.sch_focus .sch_wrap {
    border-bottom: 1px solid #03c75a;
}

.sch_focus .sch_logo {
    display: none;
}

.sch_focus .sch_btn_back {
    display: block;
}

.u_atcp_wrap {
    font-size: 17px;
    line-height: 22px;
    position: relative;
    background-color: #ffffff;
}

.nx_suggest_recent {
    border-bottom: 1px solid #e2e5e8;
}

.sggt_fixer {
    display: block;
    position: relative;
    height: 100%;
    padding-bottom: 44px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.sggt_header {
    overflow: hidden;
    position: relative;
    padding: 16px 17px 6px;
    font-size: 16px;
    color: #666;
    letter-spacing: -0.3px;
}

.sggt_header .tit {
    overflow: hidden;
    font-size: 16px;
    font-weight: 400;
}

.sggt_header .tit .tit_inner {
    display: inline-block;
    vertical-align: top;
}

.sggt_header .option {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 15px;
    color: #a5a5a5;
}

.sggt_container {
    min-height: 153px;
}

.sggt_container .kwd_lst {
    padding-bottom: 8px;
}

.kwd_lst li {
    position: relative;
    margin: 0 17px 0 14px;
    padding-right: 22px;
    line-height: 44px;
}

.kwd_lst li.type_date {
    padding-right: 4.1em;
}

.u_atcp_wrap .kwd_lst .kwd {
    display: block;
    position: relative;
    padding-left: 39px;
    color: #424242;
    letter-spacing: -0.3px;
}

.kwd_lst .fix {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.u_atcp_wrap .common_ico_kwd {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 0;
    width: 28px;
    height: 28px;
    margin-top: -14px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #d1d7e5;
}

.u_atcp_wrap .ico_search {
    width: 14px;
    height: 14px;
    background-position: -190px -250px;
    margin: 7px 0 0 7px;
}

.u_atcp_wrap .common_ico_kwd [class*='ico_'] {
    vertical-align: top;
}

.u_atcp_wrap .common_ico_kwd .ico_search {
    width: 14px;
    height: 14px;
    background-position: -190px -250px;
    margin: 7px 0 0 7px;
}

.u_atcp_wrap .kwd_lst li.type_date .date {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 0.875em;
    color: #8f8f8f;
}

.u_atcp_wrap .kwd_lst .bt_del,
.u_atcp_wrap .kwd_lst .u_atcp_add {
    position: absolute;
    top: 0;
    right: -17px;
    width: 22px;
    height: 44px;
    margin-right: 6px;
    padding-right: 12px;
    z-index: 1;
}

.u_atcp_wrap .kwd_lst .bt_del .imsc {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    background-position: -282px -59px;
    margin: auto;
}

.u_atcp_wrap .kwd_lst .u_atcp_add .imsc {
    width: 12px;
    height: 13px;
    background-position: -282px -30px;
    margin: auto;
    vertical-align: middle;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.u_atcp_wrap .u_atcp_area .u_atcp .u_atcp_add {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -17px;
    bottom: 0;
    width: 37px;
    padding-right: 10px;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    line-height: 43px;
    text-align: center;
    -webkit-appearance: none;
    background: 0 0;
}

.u_atcp_wrap .sggt_footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 45px;
    border-top: 1px solid #ecf0f2;
    line-height: 45px;
    text-align: right;
    letter-spacing: -0.3px;
}

.u_atcp_wrap .sggt_footer .rside_opt_area {
    display: inline-block;
    margin: 0 8px 0 0;
}

.u_atcp_wrap .sggt_footer .opt_close {
    float: none;
    display: inline-block;
    margin: 0;
}

.nx_suggest_recent_close {
    display: inline-block;
    margin: 0 1px;
    padding: 0 7px;
    border: 0;
    font-size: 16px;
    color: #8f8f8f;
    background-color: transparent;
}
